<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 开启驼峰映射 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<!-- 配置分页助手 -->
	<plugins>
		<!-- 分页助手 -->
		<plugin interceptor="com.github.pagehelper.PageHelper">
			<!-- 配置 dialect为mysql -->
			<property name="dialect" value="mysql" />
			<!-- 配置查询总记录 -->
			<property name="rowBoundsWithCount" value="true" />
		</plugin>
		<!-- 通用mapper -->
		<plugin interceptor="com.github.abel533.mapperhelper.MapperInterceptor">
			<property name="IDENTITY" value="MYSQL" />
			<!--通用Mapper接口，多个通用接口用逗号隔开 -->
			<property name="mappers" value="com.github.abel533.mapper.Mapper" />
		</plugin>
	</plugins>

</configuration>